.secretaria-container{
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.secretaria-container .tables{
    margin-top: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.secretaria-container .header{
    margin-top: 20px;
    width: 500px;
    display: flex;
}

.secretaria-container .button{
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.secretaria-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;     
}

